<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <!-- 渲染資料區 -->
    <div id="app">
        <!-- <p v-if="blood=='A'||blood=='a">A</p> -->
        <p v-if="blood.toUpperCase()=='A'">A</p>
        <P v-else-if="blood.toUpperCase()=='B'">B</P>
        <P v-else-if="blood.toUpperCase()=='AB'">AB</P>
        <P v-else-if="blood.toUpperCase()=='O'">O</P>
        <P v-else>血型錯誤</P>
    </div>

    <!-- VUE's CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    blood: 'b'
                }
            }
        })
        app.mount('#app')
    </script>
</body>

</html>